* {
  box-sizing: border-box;
  font-family: serif;
}

@media screen and (min-width: 1024px) {
body {
  margin: 0;
}

  header {
  background-image: url(img/image.png);
  width: 100%;
  height: 650px;
  position: relative;
}

.header-logo {
  float: left;
  display: block;
  position: absolute;
}

nav {
  position: absolute;
  left: 52%;
  list-style: none;
  display: flex;
}

nav ul li {
  text-decoration: none;
  float: left;
  width: 100px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  margin-right: 5px;
}

.nav-top a{
  text-decoration: none;
  color: black;
}

.mail-top {
  position: absolute;
  top: 8px;
  left: 86%;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background: rgba(255, 0, 0, 0.418);
  padding: 10px;
}

.header-text {
    width: 50%;                           /* 幅指定 */
    display:  inline-block;                     /* インラインブロック指定 */
    background-color: rgba(255, 255, 255, 0.6); /* 背景色指定 */
    color: #222;                                /* 文字色指定 */
    padding:  10px;                             /* 余白指定 */
    box-sizing:  border-box;                    /* 崩れ防止 */
    height: 300px;                              /* 高さ指定 */
    position: absolute;
    top: 40%;
}

.header-text h1{
  position: absolute;
  font-size: 50px;
  top: 10%;
  left: 5%;
  line-height: 150%;
}

.header-text p {
  position: absolute;
  top: 70%;
  left: 5%;
  line-height: 150%;
}

.details-container {
  position: relative;
  width: 100%;
  height: 900px;
}

.services .image {
  position: absolute;
  top: 100px;
}

.services .text-box{
  border-left: solid rgb(245, 113, 113);
  padding-right: 200px;
  padding-left: 30px;
  position: absolute;
  top: 120px;
  left: 55%;
  padding-bottom: 95px;
  z-index: 5;
  background: white;
}

.background-blue-right {
  position: absolute;
  background: rgb(131, 131, 255);
  top: 0;
  bottom: -250px;
  left: 80%;
  width: 100%;
  opacity: 0.2;
}

.services .text-box h2 {
  font-size: 25px;
  padding-top: 30px;
}

.english {
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
}

.services .text-box p {
  padding-top: 40px;
}

.services a {
  position: absolute;
  top: 330px;
  left: 70%;
  font-size: 20px;
  text-decoration: none;
  color: black;
  border: solid 1px black;
  padding: 20px;
  z-index: 5;
  background: white;
}

.red {
  color: red;
}

.company .image {
  position: absolute;
  top: 500px;
  left: 52%;
}

.company .text-box{
  border-right: solid rgb(245, 113, 113);
  padding-top: 20px;
  padding-right: 250px;
  padding-left: 30px;
  position: absolute;
  top: 520px;
  left: 8%;
  padding-bottom: 65px;
  background: white;
  z-index: 5;
}

.background-blue-left {
  position: absolute;
  background: rgb(131, 131, 255);
  top: 480px;
  bottom: 0px;
  left: 3%;
  width: 100px;
  opacity: 0.2;
}

.company .text-box h2 {
  font-size: 25px;
}

.english {
  font-size: 15px;
  line-height: 20px;
}

.company .text-box p {
  padding-top: 80px;
}

.company a {
  position: absolute;
  top: 740px;
  left: 34%;
  font-size: 20px;
  text-decoration: none;
  color: black;
  border: solid 1px black;
  padding: 20px;
  z-index: 5;
}

.red {
  color: red;
}

.recruit-container {
  position: relative;
  width: 100%;
  height: 600px;
}

.recruit-container .text-box {
  position: absolute;
  left: 45%;
}

.recruit-container h3 {
  font-size: 25px;
}

.recruit-container .f-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50px;
  left: 20%;
  padding-top: 30px;
}

.recruit-container .f-item {
  padding-left: 30px;
  position: relative;
}

.recruit-text {
    width: 120px;                           /* 幅指定 */
    display:  inline-block;                     /* インラインブロック指定 */
    background-color: rgba(255, 255, 255, 0.6); /* 背景色指定 */
    color: #222;                                /* 文字色指定 */
    padding:  10px;                             /* 余白指定 */
    box-sizing:  border-box;                    /* 崩れ防止 */
    height: 80px;                              /* 高さ指定 */
    top: 120px;
    position: absolute;
}

.work{
  font-weight: normal;
  line-height: 150%;
}

.recruit-container a {
  position: absolute;
  top: 370px;
  left: 42%;
  font-size: 20px;
  text-decoration: none;
  color: black;
  border: solid 1px black;
  padding: 20px;
}

.info-container {
  position: relative;
  width: 100%;
  height: 600px;
}

.info-container .text-box {
  position: absolute;
  left: 45%;
}

.info-container h5 {
  font-size: 25px;
}

.info-container .f-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 120px;
  left: 10%;
  
}

.info-container .f-container .f-item {
  padding-top: 30px;
  padding-bottom: 40px;
  border-bottom: solid 1px rgb(28, 28, 248);
  font-weight: normal;
}

.info-container .f-container .f-item .info {
  margin-left: 30px;
  border-top: solid 1px rgb(171, 171, 250);
  border-bottom: solid 1px rgb(171, 171, 250);
  border-left: solid 1px rgb(171, 171, 250);
  border-right: solid 1px rgb(171, 171, 250);
  padding: 10px 20px 10px 20px;
  background-color: rgba(159, 159, 255, 0.555);
}

.info-container .f-container .f-item .text {
  padding-left: 30px;
  margin-right: 300px;
}

.info-container a {
  position: absolute;
  top: 430px;
  left: 80%;
  font-size: 20px;
  text-decoration: none;
  color: black;
  border: solid 1px black;
  padding: 20px;
}

.contact-container {
  position: relative;
  width: 100%;
  height: 500px;
  padding-top: 60px;
  background-color: rgb(250, 245, 245);
}

.contact-container .text-box{
  position: absolute;
  left: 44%;
}

.contact-container .text-box h6 {
  font-size: 25px;
}

.question {
  text-align: center;
  padding-top: 150px;
}

.number {
  position: absolute;
  font-size: 30px;
  left: 20%;
  top: 340px;
  padding-right: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-right: solid 1px rgb(146, 146, 146);
}

.number p {
  font-size: 20px;
  padding-top: 30px;
  padding-left: 10px;
}

.mail-bottom a{
  position: absolute;
  left: 60%;
  top: 370px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background: rgb(253, 61, 61);
  padding: 15px 30px 15px 30px;
  border-top: solid 1px red;
  border-bottom: solid 1px red;
  border-right: solid 1px red;
  border-left: solid 1px red;
}

footer {
  position: relative;
  width: 100%;
}

.nav-bottom {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  list-style: none;
}

.nav-bottom li:not(:last-child){
  border-right: solid 1px rgb(187, 183, 183);
}

.nav-bottom-list a{
  color: black;
  text-decoration: none;
  text-align: center;
  padding-right: 100px;
  margin-left: 92px;
  
}

.footer-logo {
  position: absolute;
  left: 37%;
  margin-top: 50px;
}

footer p {
  position: absolute;
  left: 43%;
  top: 200px;
  margin-top: 60px;
  margin-bottom: 60px;
}
}
